<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Behavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:9888/Service/metadata"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Service.Service"  behaviorConfiguration="Behavior">
        <endpoint address="http://localhost:9888/Service" 
                  binding="wsDualHttpBinding" contract="Contract.IService"></endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>